Package: ch.xxtou.hudapp.jb
Name: TrollSpeed JB
Version: 1.12.1
Section: Tweaks
Depends: firmware (>= 14.0)
Architecture: iphoneos-arm
Author: Lessica <82flex@gmail.com>
Maintainer: Lessica <82flex@gmail.com>
Description: Troll your speed, but jailbroken.
